langchain
langchain-openai
langgraph
openai
python-dotenv
chromadb
tiktoken
mcp
langchain-chroma
langchain-community
langchain-text-splitters
sentence-transformers
langchain-huggingface
pymysql
SQLAlchemy
celery
redis
psycopg2-binary
asyncpg
psycopg[binary]
easyocr
opencv-python-headless
faster-whisper
deepface
